@charset "utf-8";

.question_list{
    width: 950px;
    display: inline-block;
    text-align: left;
}
.question_list li{
    margin-bottom: 20px;
    font-size: 25px;
    color: #474747;
}
.question_list li dl{
    font-size: 18px;
}
.question_list li dl dt{
    width: 40px;
    display: inline-block;
    vertical-align: top;
    font-size: 30px;
    font-weight: 700;
    color: #ff8571;
    -webkit-transform: scaleX(0.9);
    transform: scaleX(0.9);
}
.question_list li dl dd{
    margin-top: 10px;
    width: 900px;
    display: inline-block;
    vertical-align: top;
}
.question_list li dl.question{
    font-size: 25px;
}
.question_list li dl.question:after{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    margin: 5px 0;
    background-color: #ddd;
}
.question_list li dl.question dt{
    color: #0099a8;
}
.question_list li dl.question dd{
    margin-top: 0;
}